  .page-loader {  
    position: fixed;  
    z-index: 99999;   
    width: 100%;  
    height: 100%;   
    top: 0;   
    left: 0;  
    background: rgba(255,255,255,.9);   
    display: none;   
    -webkit-transition: opacity .5s ease-in-out;  
    -o-transition: opacity .5s ease-in-out;   
    -moz-transition: opacity .5s ease-in-out;   
    transition: opacity .5s ease-in-out;
  }
  .page-loader,
  .page-loader.visible {  
    -webkit-transition: .6s;  
    -moz-transition: .6s;   
    -o-transition: .6s;   
    transition: .6s; 
    opacity: 1;   
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";   
    visibility: visible;
  } 
  .page-loader.p-hidden {   
    visibility: hidden;   
    opacity: 0;   
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"
  }
  .page-loader div {  
    position: absolute;   
    top: 50%;   
    width: 100%;  
    text-align: center;   
    color: #1d1d1d;   
    margin-top: -50px;  
    display: block;
  }
  .page-loader div p {  
    margin-top: 100px;  
    font-size: 15px;  
    color: #1f1f1f;   
    letter-spacing: 10px;  
    padding-left: 1em;  
    text-transform: uppercase;  
    font-family: Roboto, Helvetica, sans-serif;   
    font-weight: 400;
  }
  #preloader {  
    position: fixed;  
    top: 0;   
    left: 0;  
    width: 100%;  
    height: 100%;
  }
  #loadercss {   
    display: block;   
    position: relative;   
    left: 50%;  
    top: 50%;   
    width: 150px;   
    height: 150px;  
    margin: -75px 0 0 -75px;  
    -webkit-border-radius: 50%;   
    -moz-border-radius: 50%;  
    border-radius: 50%;   
    border: 2px solid transparent;  
    border-top-color: #fe6937;  
    -webkit-animation: spinr 1.5s linear infinite;  
    -moz-animation: spinr 1.5s linear infinite;   
    -o-animation: spinr 1.5s linear infinite;   
    animation: spinr 1.5s linear infinite;
  }
  #loadercss:before {  
    content: "";  
    position: absolute;   
    top: 15px;  
    left: 15px;   
    right: 15px;  
    bottom: 15px;   
    -webkit-border-radius: 50%;   
    -moz-border-radius: 50%;  
    border-radius: 50%;   
    border: 2px solid transparent;  
    border-top-color: #fe6937;  
    -webkit-animation: spinl .5s linear infinite;   
    -moz-animation: spinl .5s linear infinite;  
    -o-animation: spinl .5s linear infinite;  
    animation: spinl .5s linear infinite;
  }
  #loadercss:after {   
    content: "";  
    position: absolute;   
    top: 30px;  
    left: 30px;  
    right: 30px;  
    bottom: 30px;   
    -webkit-border-radius: 50%;   
    -moz-border-radius: 50%;  
    border-radius: 50%;   
    border: 2px solid transparent;  
    border-top-color: #fe6937;  
    -webkit-animation: spinr 1s linear infinite;  
    -moz-animation: spinr 1s linear infinite;   
    -o-animation: spinr 1s linear infinite;   
    animation: spinr 1s linear infinite;
  }
  @-webkit-keyframes spinr {  0% {    -webkit-transform: rotate(0deg);    -ms-transform: rotate(0deg);    transform: rotate(0deg);  }   100% {    -webkit-transform: rotate(360deg);    -ms-transform: rotate(360deg);    transform: rotate(360deg);  }
  }
  @-moz-keyframes spinr {   0% {    -webkit-transform: rotate(0deg);    -ms-transform: rotate(0deg);    -moz-transform: rotate(0deg);   transform: rotate(0deg);  }   100% {    -webkit-transform: rotate(360deg);    -ms-transform: rotate(360deg);    -moz-transform: rotate(360deg);   transform: rotate(360deg);  }
  }
  @-o-keyframes spinr {   0% {    -webkit-transform: rotate(0deg);    -ms-transform: rotate(0deg);    -o-transform: rotate(0deg);   transform: rotate(0deg);  }   100% {    -webkit-transform: rotate(360deg);    -ms-transform: rotate(360deg);    -o-transform: rotate(360deg);   transform: rotate(360deg);  }
  }
  @keyframes spinr {  0% {    -webkit-transform: rotate(0deg);    -ms-transform: rotate(0deg);    -moz-transform: rotate(0deg);   -o-transform: rotate(0deg);   transform: rotate(0deg);  }   100% {    -webkit-transform: rotate(360deg);    -ms-transform: rotate(360deg);    -moz-transform: rotate(360deg);   -o-transform: rotate(360deg);   transform: rotate(360deg);  }
  }
  @-webkit-keyframes spinl {  0% {    -webkit-transform: rotate(360deg);    -ms-transform: rotate(360deg);    transform: rotate(360deg);  }   100% {    -webkit-transform: rotate(0deg);    -ms-transform: rotate(0deg);    transform: rotate(0deg);  }
  }
  @-moz-keyframes spinl {   0% {    -webkit-transform: rotate(360deg);    -ms-transform: rotate(360deg);    -moz-transform: rotate(360deg);   transform: rotate(360deg);  }   100% {    -webkit-transform: rotate(0deg);    -ms-transform: rotate(0deg);    -moz-transform: rotate(0deg);   transform: rotate(0deg);  }
  }
  @-o-keyframes spinl {   0% {    -webkit-transform: rotate(360deg);    -ms-transform: rotate(360deg);    -o-transform: rotate(360deg);   transform: rotate(360deg);  }   100% {    -webkit-transform: rotate(0deg);    -ms-transform: rotate(0deg);    -o-transform: rotate(0deg);   transform: rotate(0deg);  }
  }
  @keyframes spinl {  0% {    -webkit-transform: rotate(360deg);    -ms-transform: rotate(360deg);    -moz-transform: rotate(360deg);   -o-transform: rotate(360deg);   transform: rotate(360deg);  }   100% {    -webkit-transform: rotate(0deg);    -ms-transform: rotate(0deg);    -moz-transform: rotate(0deg);   -o-transform: rotate(0deg);   transform: rotate(0deg);  }
  }

.tim-row{
    margin-bottom: 20px;
}

.tim-white-buttons {
    background-color: #777777;
}
.typography-line{
    padding-left: 25%;
    margin-bottom: 35px;
    position: relative;
    display: block;
    width: 100%;
}
.typography-line span{
    bottom: 10px;
    color: #c0c1c2;
    display: block;
    font-weight: 400;
    font-size: 13px;
    line-height: 13px;
    left: 0;
    position: absolute;
    width: 260px;
    text-transform: none;
}
.tim-row{
    padding-top: 60px;
}
.tim-row h3{
    margin-top: 0;
}

.offline-doc .page-header{
  display: flex;
  align-items: center;
}

.offline-doc .footer{
  position: absolute;
  width: 100%;
  background: transparent;
  bottom: 0;
  color: #fff;
  z-index: 1;
}

#map {
  position: relative;
  width: 100%;
  height: 100vh;
}
